In [73]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [74]:
inputs=df.drop(["PassengerId","Pclass","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis='columns')

In [75]:
inputs.head()

   Survived     Sex   Age     Fare
0         0    male  22.0   7.2500
1         1  female  38.0  71.2833
2         1  female  26.0   7.9250
3         1  female  35.0  53.1000
4         0    male  35.0   8.0500

In [76]:
from sklearn.preprocessing import LabelEncoder
l_sex=LabelEncoder()
inputs["sex"]=l_sex.fit_transform(inputs["Sex"])

In [77]:
inputs=inputs.drop('Sex',axis='columns')
inputs.head()

   Survived   Age     Fare  sex
0         0  22.0   7.2500    1
1         1  38.0  71.2833    0
2         1  26.0   7.9250    0
3         1  35.0  53.1000    0
4         0  35.0   8.0500    1

In [84]:
data=inputs
from sklearn.linear_model import LinearRegression

# Assuming 'Age' is the column with missing values and 'other_features' are the remaining features
# Splitting data into known and unknown ages
known_age = data[data['Age'].notnull()]
unknown_age = data[data['Age'].isnull()]

# Splitting known ages into features and target
X_train = known_age.drop('Age', axis=1)
y_train = known_age['Age']

# Initialize the model and train it
model = LinearRegression()
model.fit(X_train, y_train)

# Predict missing ages
predicted_ages = model.predict(unknown_age.drop('Age', axis=1))

# Fill missing values in 'Age' column with predicted ages
data.loc[data['Age'].isnull(), 'Age'] = predicted_ages

In [85]:
inputs["Age"].head(20)

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     30.475857
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
15    55.000000
16     2.000000
17    28.605975
18    31.000000
19    25.984965
Name: Age, dtype: float64

In [86]:
target = inputs['Survived']
inputs=inputs.drop('Survived',axis='columns')
inputs.head(10)

         Age     Fare  sex
0  22.000000   7.2500    1
1  38.000000  71.2833    0
2  26.000000   7.9250    0
3  35.000000  53.1000    0
4  35.000000   8.0500    1
5  30.475857   8.4583    1
6  54.000000  51.8625    1
7   2.000000  21.0750    1
8  27.000000  11.1333    0
9  14.000000  30.0708    0

In [87]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [88]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [89]:
model.fit(inputs,target)

DecisionTreeClassifier()

In [90]:
model.score(inputs,target)

0.9876543209876543

# predicting age=45, fare=40, sex=male output=0 (no)

In [92]:
model.predict([[45,40,1]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

# predicting age=45, fare=40, sex=female output=0 (no)

In [93]:
model.predict([[45,40,0]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

# predicting age=4, fare=10, sex=male, output=1 (yes)

In [95]:
model.predict([[4,10,1]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

# predicting age=4, fare=10, sex=male output=0 (No)

In [97]:
model.predict([[4,10,0]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [98]:
model.predict([[4,10,0]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [100]:
model.predict([[4,100,0]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [101]:
model.predict([[4,1,0]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [102]:
model.predict([[4,1,1]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [103]:
model.predict([[94,100,0]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [104]:
model.predict([[94,100,1]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [105]:
model.predict([[24,10,0]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [106]:
model.predict([[24,10,1]])

C:\Users\krish\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)